# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Reports
/pw-reports/
/pw-tests-results/
/blob-report/

# Other
/playwright/.cache/
